# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
cardamage_venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Backup folders
.backup_before_cleanup

# Results/uploads
app/static/results/
app/static/uploads/
damage_detection_dataset/
inference_results/
data/
# Models and data
models/
damage_detection_dataset/
inference_results/
data/
